footer{
   padding: 160px 0;
  

}
.footer__conteiner{
   max-width: 533px;
   margin: 0 auto;
   text-align: center;
}
.footer__logo{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 66px;
   width: 223px;
}
.footer__social{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 30px;
   margin-bottom: 100px;
}
.footer__info{
   font-size: 18px;
   margin-bottom: 60px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap:30px;
   
}
.info-name{
   text-align: end;
   align-self: end;
   
   text-transform: uppercase;
}
.info-text{
   text-align: start;
   align-self: start;
  
   text-transform: uppercase;

}
.footer__social{
   scroll-margin-top: 150px;
}
.footer__social a{
   display: block;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background-color: var(--bg-accent);
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer__social a svg{
   width: 24px;
   height: 24px;
   transition: all 0.6s ease-in;
}
.footer__social a:hover svg{
   transform: scale(1.4);
}

.copy{
   font-size: 13px;
   opacity: 50%;
}
