<section
  class="home"
  style="
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(28, 27, 33, 0.7) 92%
      ),
      url('./images/bg-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="conteiner">
    <div class="header__singl">
      <h2 class="header__title p-top">New Single</h2>
      <figure class="plaer-box">
        <figcaption>War For Love</figcaption>
        <audio class="audio">
          <source
            src="../media/Jay Walking - Everet Almond.mp3"
            type="audio/mpeg"
          />
        </audio>
        <div class="plaer">
          <button class="play">
            <svg
              width="22"
              height="25"
              viewBox="0 0 22 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22 12.5L8.14564e-07 25L1.90735e-06 -9.6165e-07L22 12.5Z"
                fill="white"
              />
            </svg>
          </button>
          <div class="progressbaar">
            <div class="progress"></div>
          </div>
          <div class="time-box">
            <span class="in">00:00</span> - <span class="out"> 00:00</span>
          </div>
        </div>
      </figure>
    </div>
    <div class="news-box">
      <div class="news border">
        <picture>
          <source type="imege/avif" srcset="../images/news1.avif" />
          <source type="imege/webp" srcset="../images/news1.webp" />

          <img src="../images/news1.jpg" alt="news1" />
        </picture>
        <div class="news-info border">
          <p>
            Working on my upcoming full-lenth album that`s releasing later this
            year.
          </p>
        </div>
      </div>
      <div class="news border">
        <picture>
          <source type="imege/avif" srcset="../images/news2.avif" />
          <source type="imege/webp" srcset="../images/news2.webp" />

          <img src="../images/news2.jpg" alt="news2" />
        </picture>
        <div class="news-info border">
          <p>Halloween vibes. Listen my new track!</p>
        </div>
      </div>
      <div class="news border">
        <picture>
          <source type="imege/avif" srcset="../images/news3.avif" />
          <source type="imege/webp" srcset="../images/news3.webp" />

          <img src="../images/news3.jpg" alt="news3" />
        </picture>
        <div class="news-info border">
          <p>WarForLove is OUT NOW!! Stream it here!</p>
        </div>
      </div>
    </div>
  </div>
</section>
