<section class="about" id="about">
  <div class="conteiner">
    <div class="about__box ">
      <div class="about__info">
        <h2 class="about__title">Bright Lights</h2>
        <div class="about__text">
          <p>Bright Lights is a multi-Grammy nominated singer, songwriter, DJ and
          record producer. She has written for numerous pop stars including
          Britney Spears, Justin Bieber, Usher and Beyoncé. Her catalog has
          amassed over 1 billion streams worldwide. More than 100 million of
          those streams can be attributed to her artist career and include such
          hits as Porter Robinson's "Language," 3LAU's "How You Love Me" and her
          own single "Runaway." She was also a featured vocalist on Zedd's #1
          Clarity album. Her latest music video, "Put It Down," reached 1
          million streams in the first week, releasing independently. Bright
          Lights is currently in the studio working on a self-produced album
          slated for release in 2020.</p>
        </div>
        <ul class="about__list">
         <li class="about__item">Based in: Los Angeles</li>
         <li class="about__item">Genre: #DancePop </li>
         <li class="about__item">Founded in 2011</li>
         <li class="about__item">Label: 333 Recordings</li>
      </div>
      
      <div class="about__images">
        <div class="box-img">

         <picture>
            <source type="imege/avif" srcset="../images/about2.avif">
            <source type="imege/webp" srcset="../images/about2.webp">
      
            <img src="../images/about2.jpg" alt="about" class="border about__img">
          </picture>
          <picture>
            <source type="imege/avif" srcset="../images/about1.avif">
            <source type="imege/webp" srcset="../images/about1.webp">
      
            <img src="../images/about1.jpg" alt="about" class="border about__img active">
          </picture>
        </div>
  
      </div>
    </div>

    <div class="about__blockquote border " id="news">
<div class="blockquote__info">
       <blockquote>
         “In an age where mainstream music is designed to be as
easily consumed as possible, listening to Bright Lights is
refreshing, to say the least. Her sound is perfect for radio
but complex enough to separate her from other pop newcomers.”
       </blockquote>
       <svg  class=" svg"xmlns="http://www.w3.org/2000/svg"  fill="none"   viewBox="0 0 16 16">
         <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
       </svg>
       
       <a class="blockquote__link" href="#">PopULove.net</a>
      </div>
      <picture class="blockquote__img">
         <source type="imege/avif" srcset="../images/about3.avif">
         <source type="imege/webp" srcset="../images/about3.webp">
   
         <img src="../images/about3.jpg" alt="about" class="border ">
       </picture>

    </div>
    
  </div>
</section>
