<header class="header">
  <div class="conteiner">
    <div class="header__box">
      <a class="header__logo" href="#">
        <img class="logo1" src="./images/svg/logo1.svg" alt="" />
        <img class="logo2" src="./images/svg/logo2.svg" alt="" />
      </a>

      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#about" class="menu__link">About</a>
          </li>
          <li class="menu__item">
            <a href="#news" class="menu__link">News</a>
          </li>
          <li class="menu__item">
            <a href="#music" class="menu__link">Music</a>
          </li>
          <li class="menu__item">
            <a href="#media" class="menu__link">Media</a>
          </li>
          <li class="menu__item">
            <a href="#tours" class="menu__link">Tours</a>
          </li>
        </ul>
      </nav>
      <button class="open-menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
          />
        </svg>
      </button>
    </div>
  </div>
</header>
